<div class="container">
  <div class="row" *ngIf="registerForm">
      <div class="col-sm-12 reg-box-header card-box-header text-center">
        <h2>New Account</h2>
        <span class="subtitle">Sign up with your work address.</span>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 form-container">
          <form *ngIf="registerForm" [formGroup]="registerForm">
              <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your work email" formControlName="email" required>
                    <mat-error *ngIf="email.hasError('required')">
                      Email is required.
                    </mat-error>
                    <mat-error *ngIf="email.hasError('email')">
                      Please provide a valid work email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-sm-12 col-md-8 offset-md-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input #regPw type="password" matInput placeholder="Password" formControlName="passwordHash" required>
                    <span class="pwEye" (click)="togglePasswordViz(regPw)" matSuffix>
                      &nbsp;<i class="fas fa-eye{{regPw.type === 'password' ? '' : '-slash'}}"></i>
                    </span>
                    <mat-error *ngIf="password.hasError('required')">
                      Password is required.
                    </mat-error>
                    <mat-error *ngIf="password.hasError('length')">
                      Password must contain at least 6 characters.
                    </mat-error>
                    <mat-error *ngIf="password.hasError('upperCase')">
                      Password must contain at least 1 uppercase character.
                    </mat-error>
                    <mat-error *ngIf="password.hasError('lowerCase')">
                      Password must contain at least 1 lowercase character.
                    </mat-error>
                    <mat-error *ngIf="password.hasError('special')">
                      Password must contain at least 1 special character.
                    </mat-error>
                    <mat-error *ngIf="password.hasError('number')">
                      Password must contain at least 1 number.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Re enter password</mat-label>
                    <input #regRePw type="password" matInput placeholder="Re enter password" formControlName="rePassword" required>
                    <span class="pwEye" (click)="togglePasswordViz(regRePw)" matSuffix>
                      &nbsp;<i class="fas fa-eye{{regRePw.type === 'password' ? '' : '-slash'}}"></i>
                    </span>
                    <mat-error *ngIf="rePassword.hasError('required')">
                      Password is required.
                    </mat-error>
                    <mat-error *ngIf="rePassword.hasError('PasswordMismatch')">
                      Passwords do not match.
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <div class="alert alert-secondary">
                    <small style="font-size: 12px; color: gray">
                      a password must be at least:
                      <ul>
                        <li>six characters long</li>
                        <li>contain one uppercase character</li>
                        <li>one lowercase character</li>
                        <li>and one special character (!@#$%*&)</li>
                      </ul>
                    </small>
                  </div>
                </div> -->
                <div class="col-sm-12 col-md-8 offset-md-2 text-right button-cols">
                  <button type="submit" class="submitBtn btn btn-lg btn-primary btn-round" (click)="register()" [disabled]="!registerForm.valid">
                    <span *ngIf="!(loaderService.isLoading | async)">Register</span>
                    <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                  </button>
                </div>
              </div>
          </form>
        </div>
  </div>
</div>
